
#black {
    background-color: black;
    color: white;
}


#white {
    background-color: white;
    color: white;
}


.grid {
    height: 100%;

}

.column {
    font-size: 50px;
    line-height: 90px;
}

.ui.secondary.inverted.menu {
    background-color: black;
    font-size: 20px;
}
