<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">


#black {
    background-color: black;
    color: white;
}


body{ 
font-family: 'Montserrat', sans-serif;
font-weight: bold;

}

#white {
    background-color: white;
    color: white;
}


.grid {
    height: 100%;

}

.column {
    font-size: 50px;
    line-height: 90px;
}

.ui.secondary.inverted.menu {
    background-color: #3284bf;
    font-size: 20px;
}

.wide.column, .wide.column:hover {
    height:300px;
    color:white;
    border-style:solid;
    border-width:10px;
    border-color:white;
    overflow: hidden;
}

.column img {
    width: 500px;
    height: 300px;
}

.ui.equal.width.center.aligned.grid {
    margin:20px;
}

.verticalalign {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#YRL {
    background-color: #ffb300;
}

#BL {
    background-color: #1e4b87;
}

#POWELL {
    background-color: #3284bf; }

#AL {
    background-color: #1e4b87;
}

#ML {
    background-color: #ffb300;
}

#sec1 {
    background-color: rgba(0,85,166,1);
}

#sec2 {
    background-color: rgba(0,165,229,1);
}

#sec3 {
    background-color: rgba(0,165,229,1);
}

#sec4 {
    background-color: rgba(0,85,166,1);
}

#sec5 {
    background-color: rgba(0,85,166,1);
}

#sec6 {
    background-color: rgba(0,165,229,1);
}