@charset "UTF-8";

/* Global Styles */
body {
    margin: 0px;
    padding: 9px;
    font-family: Helvetica;
    font-size: 16px;
}

.ui.equal.width.center.aligned.grid {
    height: 100%;
}

a.column {
    font-size: 50px;
    line-height: 80px;
}

.ui.secondary.inverted.menu {
    background-color: rgba(0,85,166,1);
    font-size: 20px;
}

.inverted.segment {
    height: 80px;
}