@charset "UTF-8";

/* Global Styles */
body {
    margin: 0px;
    padding: 9px;
    font-family: Helvetica;
    font-size: 16px;
}

#black {
    background-color: black;
    color: white;
}


.ui.equal.width.center.aligned.grid {
    height: 100%;
}

a.column {
    font-size: 50px;
    line-height: 80px;
}

.ui.secondary.inverted.menu {
    background-color: black;
    font-size: 20px;
}

.inverted.segment {
    height: 80px;
}

.ui.negative.button, .ui.negative.button:hover {
    background-color: #CF322D;
}

.ui.positive.button, .ui.positive.button:hover {

    background-color: #68863F;
}

.hidden {
    display: none;
}

#ref, #qq {
    position: absolute;
}